.contacts__details {
  padding: 78px 16px 80px 0;
  max-width: 655px;
  width: 100%;
  margin: 0;
  margin-left: auto;

  @media (max-width: 1420px) {
    max-width: 1409px;
    min-width: 360px;
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
    margin: 0 auto;
  }

  @media (max-width: 875px) {
    max-width: 875px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.contacts__title {
  margin-bottom: 30px;
}
.contacts__wrapper {
  width: 100%;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.contacts__info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
}
.contacts__info-item {
  font-size: 18px;
  line-height: 24px;
  color: #17191a;
}
.contacts__tel {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #17191a;
  text-decoration: none;
  display: block;
  margin: 0;
  margin-bottom: 27px;
}
.contacts__group-title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  &::before {
    display: none;
  }
}

.contacts__form-button {
  padding: 22px 34px;
  margin-bottom: 40px;
}

.contacts__map {
  @media (max-width: 1024px) {
    max-height: 360px;
    overflow: hidden;
  }
  img {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
  }
}
