.demo-lesson {
  padding: 350px 0 80px;
  background-color: #696b64;
  color: #ffffff;
  background-image: url(../img/bg/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    background: linear-gradient(0deg, rgba(10, 33, 42, 0.4), rgba(10, 33, 42, 0.4));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .wrapper {
    z-index: 3;
    position: relative;
  }
}
.demo-lesson__title {
  margin-bottom: 20px;
  color: #ffffff;
}
.demo-lesson__lead {
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  max-width: 770px;
  display: block;
  margin-bottom: 38px;
}
.demo-lesson__button {
  padding: 22px 38px;
  font-weight: 700;
}
