.educational-programs {
  padding: 102px 0 76px;

  @media (max-width: 1420px) {
    padding: 92px 0 90px;
  }
}
.educational-programs__content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 55px;

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}
.educational-programs__title {
  margin-bottom: 26px;
}
.educational-programs__button {
  padding: 22px 58px;
}

.educational-programs__text {
  margin-top: 25px;
  padding-right: 112px;

  @media (max-width: 1420px) {
    padding-right: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 24px;
  }
}

.educational-programs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 1420px) {
    justify-content: space-between;
  }
}
.educational-programs__item {
  width: calc((100% / 4) - 16px);

  @media (max-width: 1420px) {
    width: calc((100% / 3 ) - 16px);
  }

  @media (max-width: 1050px) {
    width: calc((100% / 2 ) - 16px);
  }

  @media (max-width: 700px) {
    width: 100%;
    max-width: 100%;
  }
}
.educational-announcement {
  border: 1px solid #ccd9de;
  padding: 40px 12px;
  padding-left: 28px;
  text-decoration: none;
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.4s linear;
  min-height: 100%;

  @media (max-width: 670px) {
    gap: 30px;
  }
}
.educational-announcement__icon {
  max-width: 72px;
  width: 100%;
  .custom-element {
    fill: #ffb734;
    transition: 0.4s linear;
  }

  .custom-element-2 {
    stroke: #ffb734;
    transition: 0.4s linear;
  }
}
.educational-announcement__name {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 15px;

  &::before {
    width: 32px;
    height: 2px;
    left: 0;
    top: -10px;
  }
}

.educational-announcement:hover,
.educational-announcement:active,
.educational-announcement:focus {
  background-color: #ffb734;
  border-color: #ffb734;

  .educational-announcement__name::before {
    background-color: #ffffff;
  }

  .custom-element {
    fill: #ffffff;
  }

  .custom-element-2 {
    stroke: #ffffff;
  }
}
