.footer {
  padding: 23px 0 24px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.copiryght {
  display: flex;
  align-items: center;
}
.developers-link {
  display: flex;
  align-items: center;
  a {
  }
  img {
    display: block;
    margin-left: 16px;
  }
}
