.header {
  position: fixed;
  padding-top: 15px;
  background-color: transparent;
  color: #ffffff;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.4s linear;
}

.header .wrapper {
  @media (max-width: 1420px) {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
}

.header__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 11px 35px;
  padding-bottom: 14px;

  @media (max-width: 1420px) {
    gap: 11px 25px;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
  }

  @media (max-width: 875px) {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  @media (max-width: 770px) {
    padding-top: 16px;
    gap: 19px;
  }
}

.header__logo {
  max-width: 80px;
  transition: 0.2s linear;

  @media (max-width: 770px) {
    max-width: 53px;
  }
}
.header__details {
  max-width: 1197px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 1420px) {
    max-width: 590px;
    margin-right: auto;
    gap: 10px;
  }

  @media (max-width: 875px) {
    max-width: 540px;
  }

  @media (max-width: 770px) {
    max-width: 180px;
  }
}
.header__description {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 640px;

  @media (max-width: 1300px) {
    font-size: 22px;
  }

  @media (max-width: 770px) {
    font-size: 13px;
    max-width: initial;
  }
}
.header__contacts {
  max-width: 430px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 770px) {
    display: none;
  }
}
.header__telephone {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

.header__menu-button {
  display: none;

  @media (max-width: 1420px) {
    background-color: transparent;
    position: relative;
    border: none;
    padding: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #ffb734;
    z-index: 0;
    justify-self: flex-end;
    max-width: 60px;
    margin: 0;
    // margin-left: auto;

    @media (max-width: 875px) {
      padding: 25px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      width: 48px;
      height: 48px;
      margin: 4px;
      top: 0;
      left: 0;
      opacity: 0.5;
      border: 1px solid #ffd55f;

      @media (max-width: 875px) {
        width: 42px;
        height: 42px;
      }
    }
  }
}

.header__menu-button span,
.header__menu-button span::after,
.header__menu-button span::before {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #00435b;
  z-index: 2;
}
.header__menu-button span::after,
.header__menu-button span::before {
  content: "";
  display: block;
  transition: 0.2s;
}
.header__menu-button span::before {
  transform: translateY(-8px);
}
.header__menu-button span::after {
  transform: translateY(8px);
}

.header__navigation {
  @media (max-width: 1420px) {
    display: none;
  }
}

.header.active {
  .header__menu-button span {
    height: 0;
  }
  .header__menu-button span::before {
    transform: rotate(-45deg);
  }
  .header__menu-button span::after {
    transform: rotate(45deg);
  }
  .header__description {
    color: #00435b;
  }
  .header__telephone {
    color: #000000;
  }
  .header__content-wrapper {
    background-color: #ffffff;
  }
  @media (max-width: 1420px) {
    background-color: #00435b;

    .navigation {
      display: block;
      background: #00435b;
      padding: 135px 80px 170px;
    }

    .navigation__list {
      flex-direction: column;
    }
  }

  @media (max-width: 770px) {
    .navigation {
      padding: 30px;
    }
    .navigation__link {
      font-size: 14px;
      padding: 20px 13px;
    }
    .navigation__link::after {
      right: 0;
    }
  }
}

.header__social-list {
  gap: 8px;

  .social-list__link {
    padding: 10px;
    background-color: #00435b;
    width: 32px;
    height: 32px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .social-list__icon {
    position: absolute;
  }
}

// header sticky
.header.sticky {
  background-color: #ffffff;
  color: #00435b;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);

  .header__description {
    color: #00435b;
  }
  .header__telephone {
    color: #000000;
  }
  .navigation__link {
    color: #00435b;
  }

  .navigation {
    border-top: 1px solid #ccd9de;
  }

  .header__logo {
    max-width: 53px;
    margin-top: -12px;

    @media (max-width: 1420px) {
      max-width: 68px;
      margin-top: 0;
    }
  }
  .header__details {
    max-width: 1240px;

    @media (max-width: 1420px) {
      max-width: 545px;
    }
  }
  .header__content-wrapper {
    gap: 11px;
    align-items: flex-start;
    margin-top: 5px;
    padding-bottom: 1px;

    @media (max-width: 1420px) {
      padding-bottom: 16px;
      margin-top: 0;
    }
  }
  .navigation__link {
    padding: 15px 0 14px;
  }

  .header__description {
    @media (max-width: 1420px) {
      font-size: 20px;
      max-width: 220px;
    }
  }
}
