.reviews {
  padding: 78px 0 73px;

  .swiper-button {
    top: 34%;
  }
}
.reviews__title {
  margin-bottom: 22px;
}

.reviews__slider {
  position: relative;
  padding: 0 225px;
  text-align: center;

  .swiper-button {
    left: 0;
  }
  .swiper-button--next {
    right: 0;
    left: initial;
  }
}
.swiper {
}
.reviews-swiper {
}
.swiper-wrapper {
}
.reviews__item {
}
.swiper-slide {
}
.reviews__name {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 6px;

  &::before {
    left: calc((100% - 35px) / 2);
    top: -8px;
    height: 2px;
    width: 35px;
  }
}
.reviews__info {
  margin: 0;
  color: #747575;
  font-family: "Lora", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 25px;
}
.reviews__details {
  margin: 0;
}
