.teachers {
  background-color: #00435b;
  color: #fff;
  padding: 80px 0;
  overflow: hidden;
  z-index: 3;
  position: relative;

  @media (max-width: 1420px) {
    padding: 68px 0 98px;
  }

  .swiper-button--next {
    left: initial !important;
    right: -31px;
    @media (max-width: 1024px) {
      right: 0;
    }
  }
}

.teachers__title {
  color: #fff;
  margin-bottom: 64px;
}

.teachers__slider {
  position: relative;
}
.teachers-swiper {
  overflow: initial;

  @media (max-width:620px) {
    overflow: hidden;
  }

}
.teachers__slide {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  max-width: 640px;
  width: 100%;

  @media (max-width:620px) {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
}

.teachers__photo {
  max-width: 304px;

  @media (max-width:620px) {
    margin: 0 auto;
  }
}

.teachers__name {
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 10px;

  &::before {
    width: 32px;
    height: 2px;
    left: 0px;
    top: -6px;
  }
}
.teachers__profy {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 22px;
}
.teachers__description {
  margin: 0;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.7;
}
.teachers__link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  padding: 10px 0;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: #ffb734;
  }

  &::after {
    content: url(../img/icons/arrow-bg.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
  }
}

.teachers-swiper__pagination {
  position: absolute;
  top: -114px;
  right: 0;
  left: initial;
  width: max-content;
  font-family: "Lora", serif;
  line-height: 32px;
  text-align: right;
  color: #ffffff;
  opacity: 0.7;
  height: max-content;

  @media (max-width: 620px) {
    top: -53px;
    right: 90%;
  }
}
