.about-school {
  padding: 78px 0 80px;
  background-color: #fff;
  color: #17191a;
  z-index: 2;
  position: relative;
  padding-bottom: 0;

  @media (max-width: 1420px) {
    padding: 82px 0 90px;
  }
}
.about-school .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 1420px) {
    gap: 30px;
  }

  @media (max-width: 700px) {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
}

.about-school__image {
  width: 530px;
  margin-top: -158px;
  margin-bottom: -7px;

  @media (max-width: 1420px) {
    width: calc((100% / 2) - 30px);
    max-height: 726px;
  }

  @media (max-width: 700px) {
    width: 100%;
    max-height: initial;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.about-school__content-wrapper {
  width: 640px;

  @media (max-width: 1420px) {
    width: calc((100% / 2) - 30px);
  }

  @media (max-width: 700px) {
    width: 100%;

  }
}

.about-school__title {
  color: #00435b;
  margin-bottom: 20px;
}
.about-school__subtitle {
  font-size: 20px;
  line-height: 32px;
  color: #00435b;
  margin-bottom: 30px;
}
.about-school__text {
  margin-bottom: 40px;
  p {
    margin: 0;
    margin-bottom: 24px;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
.about-school .button {
  padding: 22px 57px;
}
