/* .faq {
  background-color: #f3f3eb;
  padding: 79px 0 80px;

  @media (max-width: 1420px) {
    padding: 68px 0 88px;
  }
}

.faq__header {
  cursor: pointer;
  z-index: 2;
  width: 100%;
  border: none;
  background-color: #fff;
  text-align: left;
}

.faq .faq__title {
  margin-bottom: 33px;

  @media (max-width: 1024px) {
    font-size: 32px;
    line-height: 40px;
  }
}

.faq__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
}

.faq__item {
  background-color: #fff;
}
.faq__button {
  width: 100%;
  border: none;
  position: relative;
  cursor: pointer;
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #00435b;
  max-width: 82px;
  border: none;
  padding: 32px 35px;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  pointer-events: none;

  @media (max-width: 750px) {
    max-width: 64px;
  }

  &:hover {
    transform: none;
  }
  span {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #00435b;
    z-index: 2;
    left: 25px;
    pointer-events: none;

    @media (max-width: 750px) {
      left: 20px;
    }
  }
  span::after {
    content: "";
    display: block;
    transition: 0.3s;
    width: 30px;
    height: 2px;
    background-color: #00435b;
    transform: rotate(90deg);
  }
}

.faq__details {
  padding: 35px 112px 33px;
  padding-right: 140px;
  color: #454747;
  font-size: 16px;
  line-height: 24px;
  display: none;

  @media (max-width: 1024px) {
    padding: 35px;
  }

  @media (max-width: 770px) {
    padding: 24px;
  }
}

.faq__header {
  position: relative;
}

.faq__question {
  margin: 0;
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #00435b;
  padding: 18px 112px;
  z-index: 2;
  position: relative;
  pointer-events: none;

  @media (max-width: 1024px) {
    padding-right: 25px;
  }

  @media (max-width: 770px) {
    padding-left: 85px;
  }
}

.faq__item.active {
  .faq__details {
    display: block;
  }

  .faq__button {
    max-width: 100%;

    span::after {
      transform: rotate(0);
    }
  }
}
 */
