.menu-button {
  background-color: transparent;
  position: relative;
  border: none;
  padding: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ffb734;
  z-index: 0;

  @media (max-width: 750px) {
    padding: 25px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 48px;
    height: 48px;
    margin: 4px;
    top: 0;
    left: 0;
    opacity: 0.5;
    border: 1px solid #ffd55f;

    @media (max-width: 750px) {
      width: 42px;
      height: 42px;
    }
  }
}

.menu-button span,
.menu-button span::after,
.menu-button span::before {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #00435b;
  z-index: 2;
}
.menu-button span::after,
.menu-button span::before {
  content: "";
  display: block;
  transition: 0.2s;
}
.menu-button span::before {
  transform: translateY(-8px);
}
.menu-button span::after {
  transform: translateY(8px);
}
