.wrapper {
  max-width: 1409px;
  // min-width: 360px;
  padding-left: 48px;
  padding-right: 48px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 875px) {
    max-width: 875px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
