.wrapper {
  max-width: 1312px;
  min-width: 360px;
  padding-left: 48px;
  padding-right: 48px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 720px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
